body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  background-image: url("../images/bg.png");
  background-position: initial;
  background-size: initial;
}

.logo {
  margin: 20px 0 10px 0;
  width: 70%;
  height: auto;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-box-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
}

.logo-container {
  max-height: 50%;
}

.text {
  width: 70%;
}

.text-images {
  display: none;
  background-image: url("../images/bg-letters.png");
  background-size: cover;
  background-color: black !important;
  max-width: 70%;
  height: auto;
  padding: 15px;
}

.letter {
  width: 70pt;
  height: auto;
}

canvas {
  max-width: 100%;
  height: auto;
}

.btn {
  margin: 10px;
}

@media (max-width: 721px) {
  .text,
  .text-images {
    max-width: 90%;
  }
  .letter {
    width: 40pt;
  }
}

.header {
  color: white;
  padding: 20px;
}

.my-modal {
  z-index: 10;
}

#mark {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8pt;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  padding: 2px;
}
